[submodule "/Users/iromero/Desktop/DZN/OSS/XCSwiftr/XCSwiftr/Vendor/objc2swift/src"]
	path = /Users/iromero/Desktop/DZN/OSS/XCSwiftr/XCSwiftr/Vendor/objc2swift/src
	url = https://github.com/yahoojapan/objc2swift.git
